{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="container" id="feedapp">
        <div class="columns">
            <div class="column is-12">
                <div class="wrapper-form">
                    <form v-on:submit.prevent="submitTweet()">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" v-model="body" placeholder="What do you want to tweet?"></textarea>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button class="button is-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="wrapper-tweets">
                    {% for tweet in tweets %}
                        <div class="tweet">
                            <p class="name">{{ tweet.created_by.username }}</p>
                            <p>{{ tweet.body }}</p>
                            <p class="info">{{ tweet.created_at|naturaltime }}</p>
                        </div>
                    {% endfor %}
                    <div class="tweet" v-for="tweet in tweets">
                        <p class="name">[[ tweet.user ]]</p>
                        <p>[[ tweet.body ]]</p>
                        <p class="info">[[ tweet.created_at ]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#feedapp',
        delimiters: ['[[',']]'],
        data() {
            return {
                tweets: [],
                body: '',
                user: '{{ request.user.username }}',
                created_at: 'Now'
            }
        },
        methods: {
            submitTweet() {
                console.log('submitTweet');

                if (this.body.length > 0) {
                    var tweet = {
                        'body': this.body,
                        'user': this.user,
                        'created_at': this.created_at
                    };

                    this.tweets.unshift(tweet);

                    // sent to backend (dma117)

                    fetch('/api/add_tweet/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(tweet)
                    })
                    .then((response) => {
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                }

                this.body = '';
            }
        }
    })
</script>
{% endblock %}