{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <h1 class="title">Search</h1>
                <p>Search term: "{{ query }}"</p>
                <hr>
                <form method="get" action="{% url 'search' %}">
                    <div>
                        <input type="text" name="query" value="{{ query }}">
                    </div>
                    <div>
                        <button class="btn-success my-2">Search</button>
                    </div>
                </form>
                <hr>
                <div class="search-results">
                    {% for user in users %}
                        <p>
                            <a href="{% url 'userprofile' user.username %}">{{ user.username }}</a>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}