body {
    background-color: #ffffff;
}

.wrapper-tweets {
    margin-top: 30px;
}

.wrapper-tweets .tweet {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 4px;
    background: #fff;
}

.wrapper-tweets .tweet .name {
    font-weight: bold;
}

.wrapper-tweets .tweet .info {
    font-size: 12px;
    color: #aaa;
}

#splash-img {
    background: url(https://images.unsplash.com/photo-1524838101135-a71ba219084d?auto=format&fit=crop&ixid=eyJhcHBfaWQiOjEyMDd9&ixlib=rb-1.2.1&q=100&w=2560);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.hero .hero-body {
    align-items: normal;
}

img {
    max-width: 150%;
}

.avatar {
    background-color: var(--cirrus-select-bg);
}

.fullscreen {
    height: screen;
    overflow: auto;
}
