{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <h1 class="title u-center">Followers - {{ user.username }}</h1>
                <p class="u-center">Num: {{ user.userprofile.followed_by.count }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% for user in user.userprofile.followed_by.all %}
                    <p class="u-center">
                        <a href="{% url 'userprofile' user.user.username %}">{{ user.user.username }}</a>
                    </p>
                {% empty %}
                    {% if request.user == user %}
                        <p class="u-center">Sorry, you don't have any followers.</p>
                    {% else %}
                        <p class="u-center">{{ user.username }} doesn't have any followers.</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
