{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">{{ user.username }}</h1>

                <p>Followers: {{ user.userprofile.followed_by.count }}</p>
                <p>Follows: {{ user.userprofile.follows.count }}</p>

                {% if user != request.user %}
                    {% if request.user.userprofile in user.userprofile.followed_by.all %}
                        <a href="{% url 'unfollow_user' user.username %}" class="button is-danger">
                        Unfollow
                    </a>
                        {% else %}
                    <a href="{% url 'follow_user' user.username %}" class="button is-success">
                        Follow
                    </a>
                        {% endif %}
                {% endif %}

            </div>
        </div>
        <div class="columns">
            <div class="column is-8">
                <div class="wrapper-tweets">
                    {% for tweet in user.tweets.all %}
                        <div class="tweet">
                            <p class="name"> {{ tweet.created_by.username }}</p>
                            <p>{{ tweet.body }}</p>
                            <p class="info">{{ tweet.created_at|naturaltime }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}